extends layout

block content
  link(rel='stylesheet', href='/stylesheets/home.css')
  link(rel='stylesheet', href='/stylesheets/activities.css')
  
  div.heroimg
    h1.desktop Heritage & Excellence
    h1.mobile Heritage
      br
      | &
      br
      | Excellence
  div.spacer
  div.who
    div.whotitle
      h1 Who are we?
    div.who-tiles
      div#tile-one.who-tile
        div.tile-icon
          img(src="/images/wine.svg")
        div.tile-text
          p We are West Virginia's premiere club, providing the finest services and facilities throughout the mountain state. The cuisine and experience of dining at the club are superb and provide exceptional views of the valley.
      div#tile-two.who-tile
        div.tile-icon
          img(src="/images/racket.svg")
        div.tile-text
          p We offer a full range of recreational and social activities for the entire family, with youth and adult programs throughout the year. Our atmosphere is warm and inviting, creating an enjoyable and unique experience for each member.
        
      div#tile-three.who-tile
        div.tile-icon
          img(src="/images/golf.svg")
        div.tile-text
          p Our deluxe facilities include an 18 hole championship Golf course, Har-tru tennis courts, double and singles Squash courts, Fitness facility and Swim complex. Our Racquets Pro, Fitness Pro and PGA Golf Pro are all available year-round, to keep you and your game in top form.

  div#amenititiesmarker.spacer

  div.wrapper
    div#text-img.dinner
      div#di.dinner-text
        h1#amenitities-titles Dinning
        p#amenitities-text Edgewood Country Club offers an exquisite assortment of dinning experience. From business to recreational there is no social engagement which does not benefit from the culinary assortment provided by our team  
      div#di.dinner-img
      
  div.spacer

  div.wrapper
    div#img-text.golf
      div#di.golf-img
      div#di.golf-text
        h1#amenitities-titles Golf
        p#amenitities-text More then 7000 yards of luscious green course, featuring fairways, slick, and bent grass tees. Our course are open and inviting for players of all skill levels providing greens for practice, competition or social events.
  
  div.spacer
  
  div.wrapper
    div#text-img.rac
      div#di.rac-text
        h1#amenitities-titles Racquets
        p#amenitities-text More then 7000 yards of luscious green course, featuring fairways, slick, and bent grass tees. Our course are open and inviting for players of all skill levels providing greens for practice, competition or social events.
      div#di.rac-img
  
  div.spacer
  
  div.wrapper
    div#img-text.pool
        div#di.pool-img
        div#di.pool-text
            h1#amenitities-titles Aquatics
            p#amenitities-text More then 7000 yards of luscious green course, featuring fairways, slick, and bent grass tees. Our course are open and inviting for players of all skill levels providing greens for practice, competition or social events.
  
  div.spacer
  
  div.wrapper
    div#text-img.spa
      div#di.spa-text
        h1#amenitities-titles Spa
        p#amenitities-text More then 7000 yards of luscious green course, featuring fairways, slick, and bent grass tees. Our course are open and inviting for players of all skill levels providing greens for practice, competition or social events.
      div#di.spa-img
      
  div.spacer
  
  div.wrapper
    div#img-text.gym
        div#di.gym-img
        div#di.gym-text
            h1#amenitities-titles Gym
            p#amenitities-text More then 7000 yards of luscious green course, featuring fairways, slick, and bent grass tees. Our course are open and inviting for players of all skill levels providing greens for practice, competition or social events.    
  div.wrapper-small
    div.hours
      h1 Hours
      p More then 7000 yards of luscious green course, featuring fairways, slick, and bent grass tees. Our course are open and inviting for players of all skill levels providing greens for practice, competition or social events
      
      
      
      
      
      
      
