doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
    meta( name='viewport', content='width=device-width, initial-scale=1' )
  body
      div#buff.buffer
      div#head.header
        img#img(src='/images/logo.svg')
        div.title
          h1 Edgewood Country Club
        div.dropbutton
          div#burger.hamburger
            div.ham
          script(src="javascripts/layout.js")
          div.dropcontent
            a(href="#buff") Home
            a Membership
            a(href="#amenititiesmarker") Amenities
            a Hours
            a Private Events
            a Member Login
      
      block content
        
      div.footer
        h4 1600 Edgewood Dr. Charleston WV
        h3 Heritage & Excellence
        h4 P: 304-343-5557
        h4 F: 304-343-2145
