doctype html
html
  head
    title= title
    script(src="javascripts/layout.js")
    link(rel='stylesheet', href='/stylesheets/index.css')
    meta( name='viewport', content='width=device-width, initial-scale=1' )
  body
      div.header
        img(src='/images/logo.svg')
        div.title
          h1 Edgewood Country Club
          h3 Heritage & Excellence
        div.dropbutton
          div#burger.hamburger
            div.ham
          div.dropcontent
            a Home
            a Membership
            a Amenities
            a Hours
            a Private Events
            a Member Login
